# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.TapToShoot-NeslihanÇetinkaya.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Neslihan\Desktop\TapToShoot-NeslihanÇetinkaya\.idea\.idea.TapToShoot-NeslihanÇetinkaya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
