# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TapToShoot-NeslihanCetinkaya.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Neslihan\Desktop\TapToShoot-NeslihanCetinkaya\.idea\.idea.TapToShoot-NeslihanCetinkaya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
